body {
  font-family: "Noto Sans KR", sans-serif;
}

#root {
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  z-index: 1000;
  font-family: "Montserrat", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #9a9eaa33;
}

.nav_wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding: 2rem 0;
}

nav a {
  margin-right: 3rem;
}

nav .fas {
  display: none;
  font-size: 2rem;
}

nav .fas:hover {
  cursor: pointer;
}

#intro {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url("img/intro_bg.png") center no-repeat;
}

.text {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  line-height: 1.6;
}

.highlight {
  color: #ff6a6a;
}

#about {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 6rem 0;
}

.title {
  border-bottom: solid 5px #707070;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 2rem;
  padding-bottom: 0.8rem;
}

.about_inner_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile {
  text-align: center;
  margin-right: 6rem;
}

.avatar {
  background-color: #f9f9f9;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.about_text {
  max-width: 519px;
  line-height: 1.8;
  word-break: break-all;
}

#skill {
  background-color: #f5f5f5;
}

.skill_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
  padding: 6rem 1rem 18rem 1rem;
}

.skill_one_set {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  padding: 0 1.5rem;
}

.skill_img_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
}

.skill_img {
  max-width: 80%;
  max-height: 80%;
}

.skill_title {
  font-weight: bold;
  margin-bottom: 1rem;
}

.skill_text {
  max-width: 310px;
  text-align: center;
  line-height: 1.6;
  color: #474747;
}

#project {
  position: relative;
  bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #cdd2e0;
  padding: 10rem 0;
  transform: skewY(-5deg);
}

#project > * {
  transform: skewY(5deg);
}

#project > .title {
  margin-bottom: 6rem;
}

.project_wrapper {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project_one_set {
  border-radius: 8px;
  border: solid 1px #ffffff;
  width: 400px;
  height: 250px;
  margin: 0 1.5rem 4rem 1.5rem;
}

.project_set_img {
  height: 70%;
}

.project_set_text {
  height: 30%;
  border-top: solid thin #ffffff;
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6rem;
}

#contact > .title {
  margin-bottom: 4.5rem;
}

.contact_wrapper {
  max-width: 800px;
  width: 80%;
  border-radius: 8px;
  border: solid 1px #707070;
  padding: 3rem 3rem;
}

.contact_one_set {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.contact_one_set:nth-child(1) {
  margin-top: 0;
}

.contact_img_wrapper {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact_one_set img {
  margin-right: 2rem;
}

.contact_one_set:nth-child(1) img {
  width: 70px;
}
.contact_one_set:nth-child(2) img {
  width: 60px;
}
.contact_one_set:nth-child(3) img {
  width: 50px;
}

.contact_one_set a {
  font-weight: bold;
  font-size: 1.3rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: solid 1px #e2e2e2;
  padding: 1rem 0;
  color: #e2e2e2;
}

@media (max-width: 900px) {
  nav {
    background-color: #b7bbc6;
    padding: 1rem;
  }

  nav .fas {
    display: block;
    color: white;
  }

  .nav_wrapper {
    position: absolute;
    top: 64px;
    right: 0;
    display: block;
    height: 0;
    overflow: hidden;
    background-color: #9a9eaa;
    padding: 0;

    transition: height 0.3s ease-out;
  }

  .nav_wrapper > a {
    margin-right: 0;
    display: block;
    margin-left: 1.3rem;
    margin-bottom: 1.3rem;
  }

  .nav_wrapper > a:first-child {
    margin-top: 2rem;
  }

  .nav_wrapper > a:last-child {
    margin-bottom: 2rem;
  }
}

@media (max-width: 800px) {
  .text {
    font-size: 2.2rem;
  }
}

@media (max-width: 650px) {
  .contact_one_set a {
    font-size: 0.9rem;
  }
  .contact_one_set:nth-child(1) img {
    width: 50px;
  }
  .contact_one_set:nth-child(2) img {
    width: 40px;
  }
  .contact_one_set:nth-child(3) img {
    width: 30px;
  }
}

@media (max-width: 600px) {
  .profile {
    margin-right: 0;
  }
  .about_inner_wrapper {
    flex-direction: column;
  }

  .about_text {
    width: 80%;
    margin-top: 2rem;
  }
  .project_one_set {
    width: 300px;
  }
}

@media (max-width: 580px) {
  .text {
    font-size: 1.3rem;
    line-height: 1.8;
  }
}

@media (max-width: 500px) {
  .contact_one_set a {
    font-size: 0.7rem;
  }
  .contact_wrapper {
    padding-left: 0;
    padding-right: 0;
  }
  .contact_one_set img {
    margin-right: 0;
  }
}

@media (max-width: 400px) {
  .project_one_set {
    width: 250px;
  }
}

/* js 관련 */
.set_none {
  display: none !important;
}

.set_block {
  display: block !important;
}

.set_navWrapper_spread {
  height: 190px;
}

.jsMenuHighlight {
  color: #ff6a6a;
}
